In [32]:
import numpy as np
import pandas as pd

### Question
1. What's the version of NumPy that you installed?
<br/> <b>Answer:</b> 1.20.1

In [33]:
np.__version__

'1.20.1'

2. What's the version of Pandas?
<br/> <b>Answer:</b> 1.1.5

In [34]:
pd.__version__

'1.1.5'

3. What's the average price of BMW cars in the dataset?
<br/> <b>Answer:</b> 61546.76

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')
df[df['Make'] == 'BMW'].MSRP.mean()

61546.76347305389

4. Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?
<br/> <b>Answer:</b> 51

In [36]:
df[df['Year'] >= 2015]['Engine HP'].isna().sum()

51

5. 
- Calculate the average "Engine HP" in the dataset.
- Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
- Now, calcualte the average of "Engine HP" again.
- Has it changed?

<b>Answer:</b> No

In [37]:
mean_hp_before = df['Engine HP'].mean()

In [38]:
df['Engine HP'].fillna(df['Engine HP'].mean(), inplace=True)

In [39]:
mean_hp_after = df['Engine HP'].mean()

In [40]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

6. 
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- What's the sum of all the elements of the result?

<b>Answer:</b> 0.0322

In [47]:
rr = df[df['Make'] == 'Rolls-Royce']
rr = rr[['Engine HP', 'Engine Cylinders', 'highway MPG']]
rr.drop_duplicates(inplace=True)

In [58]:
rr.shape[0]

7

In [74]:
X = rr.to_numpy()
XT = rr.to_numpy().T

XTX = np.dot(XT, X)
XTX

array([[1.754801e+06, 3.965600e+04, 6.519600e+04],
       [3.965600e+04, 9.280000e+02, 1.500000e+03],
       [6.519600e+04, 1.500000e+03, 2.454000e+03]])

In [76]:
invert = np.linalg.inv(XTX)
print(invert.sum())

0.032212320677486125

7. 
- Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?.

<b>Answer:</b> 0.1998

In [78]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
invert_transpose = np.dot(invert, XT)
w = np.dot(invert_transpose, y)

print(w[0])

0.19989598183188972